In [1]:
from google.oauth2 import service_account
from google.cloud import bigquery
import pandas as pd
import pandas_gbq

import gspread
from gspread_dataframe import get_as_dataframe, set_with_dataframe

gc = gspread.service_account('/usr/local/google/home/hzchen/sa-dave-selfstudy01.json')
sh = gc.open_by_url('https://docs.google.com/spreadsheets/d/1Lnrjxq80v_QDlOdWJR2lDW4mZNNyfiAwqlEyoVr_m_c/edit#gid=763809542')

Ali
target1="http://8.219.85.89/gcp_gaming.pdf" # SG
target2="http://8.209.247.102/gcp_gaming.pdf" # JP
target3="http://47.254.134.72/gcp_gaming.pdf" # Frankfurt

GCP
target1="http://34.124.217.36/gcp_gaming.pdf" # SG
target2="http://34.85.102.60/gcp_gaming.pdf" # JP
target3="http://34.159.107.227/gcp_gaming.pdf" # Frankfurt
target4="http://35.204.234.20/gcp_gaming.pdf" # Netherland

In [2]:
credentials = service_account.Credentials.from_service_account_file(
    '/usr/local/google/home/hzchen/sa-dave-selfstudy01.json',
)

sql = """
    SELECT * FROM `dave-selfstudy01.wtrace.tx_result`
    WHERE
        dest_url = 'http://8.219.85.89/gcp_gaming.pdf'
    OR
        dest_url = 'http://8.209.247.102/gcp_gaming.pdf'
    OR
        dest_url = 'http://47.254.134.72/gcp_gaming.pdf'
    OR
        dest_url = 'http://34.124.217.36/gcp_gaming.pdf'
    OR
        dest_url = 'http://34.85.102.60/gcp_gaming.pdf'
    OR
        dest_url = 'http://34.159.107.227/gcp_gaming.pdf'
    OR
        dest_url = 'http://35.204.234.20/gcp_gaming.pdf'
    AND response_code = 200
    """
df = pandas_gbq.read_gbq(sql, project_id="dave-selfstudy01", credentials=credentials, dialect="standard")
df.head()

Downloading: 100%|██████████| 2969/2969 [00:01<00:00, 2382.08rows/s]

,run_id,agent_ip,agent_asn,isp,metro,remote_ip,remote_ip_info,dns_latency_us,ping_min_latency_ms,ping_avg_latency_ms,...,http_latency_us,response_code,response_length,country_code,datetime,gcp_pop,age,loop,dest_url,packet_loss
0,20220823190239,182.253.120.134,17451,biznet,plm1,8.219.85.89,as45102:alibaba:Singapore,1,16.809,17.704,...,11616849,200,11968454,ID,2022-08-23 11:02:44.234803,None,<NA>,1,http://8.219.85.89/gcp_gaming.pdf,0.0
1,20220823190239,103.105.52.37,136873,megaartha,cgk1,8.219.85.89,as45102:alibaba:Singapore,2,13.069,13.102,...,13961127,200,11968454,ID,2022-08-23 11:02:44.234803,None,<NA>,1,http://8.219.85.89/gcp_gaming.pdf,0.0
2,20220823190239,103.14.16.133,55699,starnet,hlp1,8.219.85.89,as45102:alibaba:Singapore,3,13.653,13.696,...,15246934,200,11968454,ID,2022-08-23 11:02:44.234803,None,<NA>,1,http://8.219.85.89/gcp_gaming.pdf,0.0
3,20220823190239,119.11.250.4,10217,nttindonesia,cgk1,8.219.85.89,as45102:alibaba:Singapore,3,12.780,12.893,...,17152007,200,11968454,ID,2022-08-23 11:02:44.234803,None,<NA>,1,http://8.219.85.89/gcp_gaming.pdf,0.0
4,20220823190239,202.70.54.9,18004,smart,cgk4,8.219.85.89,as45102:alibaba:Singapore,2,13.046,13.075,...,17631340,200,11968454,ID,2022-08-23 11:02:44.234803,None,<NA>,1,http://8.219.85.89/gcp_gaming.pdf,0.0

In [3]:
df.dest_url.unique()

array(['http://8.219.85.89/gcp_gaming.pdf',
       'http://34.85.102.60/gcp_gaming.pdf',
       'http://34.124.217.36/gcp_gaming.pdf',
       'http://35.204.234.20/gcp_gaming.pdf',
       'http://47.254.134.72/gcp_gaming.pdf',
       'http://8.209.247.102/gcp_gaming.pdf',
       'http://34.159.107.227/gcp_gaming.pdf'], dtype=object)

In [4]:
df.country_code.unique()

array(['ID', 'MY', 'TH', 'VN', 'BN', 'PH', 'MM', 'LA', 'KH', 'SG', 'JP',
       'KR', 'HK', 'TW', 'MO', 'RU', 'GB', 'CH', 'ES', 'NL', 'IT', 'SE',
       'FR', 'GE', 'PL'], dtype=object)

In [5]:
def country_code2name(code):
    dictionary = dict({
        "ID": "印尼",
        "MY": "马来西亚",
        "TH": "泰国",
        "VN": "越南",
        "BN": "文莱",
        "PH": "菲律宾",
        "MM": "缅甸",
        "LA": "老挝",
        "KH": "柬埔寨",
        "SG": "新加坡",
        "JP": "日本",
        "KR": "韩国",
        "HK": "香港",
        "TW": "台湾",
        "MO": "澳门",
        "RU": "俄罗斯",
        "GB": "英国",
        "CH": "瑞士",
        "ES": "西班牙",
        "NL": "荷兰",
        "IT": "意大利",
        "SE": "瑞典",
        "FR": "法国",
        "GE": "德国",
        "PL": "波兰"})
    if code in dictionary.keys():
        return dictionary[code]
    else:
        return code

df['country'] = df.country_code.apply(country_code2name)

In [6]:
df['vendor'] = ''
df['region'] = ''
df.loc[df.dest_url.str.contains('8.219.85.89'), 'region'] = 'singapore'
df.loc[df.dest_url.str.contains('8.209.247.102'), 'region'] = 'tokyo'
df.loc[df.dest_url.str.contains('47.254.134.72'), 'region'] = 'frankfurt'
df.loc[df.dest_url.str.contains('34.124.217.36'), 'region'] = 'singapore'
df.loc[df.dest_url.str.contains('34.85.102.60'), 'region'] = 'tokyo'
df.loc[df.dest_url.str.contains('34.159.107.227'), 'region'] = 'frankfurt'
df.loc[df.dest_url.str.contains('35.204.234.20'), 'region'] = 'netherland'

df.loc[df.dest_url.str.contains('8.219.85.89'), 'vendor'] = 'ali'
df.loc[df.dest_url.str.contains('8.209.247.102'), 'vendor'] = 'ali'
df.loc[df.dest_url.str.contains('47.254.134.72'), 'vendor'] = 'ali'
df.loc[df.dest_url.str.contains('34.124.217.36'), 'vendor'] = 'gcp'
df.loc[df.dest_url.str.contains('34.85.102.60'), 'vendor'] = 'gcp'
df.loc[df.dest_url.str.contains('34.159.107.227'), 'vendor'] = 'gcp'
df.loc[df.dest_url.str.contains('35.204.234.20'), 'vendor'] = 'gcp'

In [7]:
df['throughput'] = df.response_length/df.http_latency_us

SG to SEA

In [8]:
df[df.country_code.isin(['ID','TH','VN','MY','PH','SG','MM','KH','LA','BN'])].groupby(['country', 'vendor']).ping_avg_latency_ms.describe(percentiles=[.5, .9])

                count       mean        std     min      50%       90%  \
country vendor
印尼      ali      79.0  26.544532  15.639625   2.806  23.4180   48.3254
        gcp      82.0  42.692207  54.384664  12.867  24.7620   57.8680
文莱      ali       4.0  23.098000   3.142246  21.073  21.7695   26.0328
        gcp       4.0  44.680500  17.313191  21.115  48.4415   58.6579
新加坡     ali      15.0   1.843133   0.364670   1.332   1.8170    2.3226
        gcp      15.0   1.868333   0.419861   1.353   1.7760    2.1528
柬埔寨     ali      25.0  38.195360  13.861178  21.958  34.9140   62.3400
        gcp      26.0  50.917923  15.182686  27.653  51.9295   68.8880
泰国      ali      76.0  30.575461   4.979138  22.430  28.8140   37.2615
        gcp      76.0  31.707579   4.972751  17.977  31.2185   37.3210
缅甸      ali      22.0  58.910909  57.690636  37.061  46.2415   57.4197
        gcp      25.0  47.907600  10.896884  38.419  45.1290   56.7120
老挝      ali      11.0  41.558636   6.897474  35.241  39.8200   42.7250
        gcp      11.0  55.543727  20.551891  31.055  45.9220   80.5070
菲律宾     ali      71.0  44.115676  23.410566  28.352  39.3400   73.6270
        gcp      69.0  73.893971  45.069334  28.883  53.8360  151.7434
越南      ali      89.0  37.882416   8.224713  21.096  36.8080   50.0866
        gcp      95.0  45.574179  13.388203  21.723  40.3280   63.0320
马来西亚    ali      53.0  10.912943   5.720090   6.795   9.4940   13.5458
        gcp      50.0  13.200140   7.108763   7.612  10.9300   16.3882

                    max
country vendor
印尼      ali      78.769
        gcp     232.518
文莱      ali      27.780
        gcp      60.724
新加坡     ali       2.428
        gcp       3.182
柬埔寨     ali      68.907
        gcp      76.591
泰国      ali      44.111
        gcp      45.316
缅甸      ali     315.727
        gcp      91.875
老挝      ali      60.833
        gcp      80.513
菲律宾     ali     186.487
        gcp     193.763
越南      ali      57.690
        gcp      82.694
马来西亚    ali      36.877
        gcp      42.533

In [10]:
df_tmp = df[df.country_code.isin(['ID','TH','VN','MY','PH','SG','MM','KH','LA','BN'])].groupby(['country', 'vendor']).ping_avg_latency_ms.describe(percentiles=[.5, .9])
# uncomment below to save to worksheet
# worksheet = sh.add_worksheet(title="sg_to_sea_ping_by_country", rows=100, cols=20)
# set_with_dataframe(worksheet, df_tmp, include_index=True)

In [11]:
df[df.country_code.isin(['ID','TH','VN','MY','PH','SG','MM','KH','LA','BN'])].groupby(['country', 'vendor']).throughput.describe(percentiles=[.5, .9])

                count        mean         std        min         50%  \
country vendor
印尼      ali      79.0    0.710777    0.438296   0.082976    0.647986
        gcp      82.0   43.060918   22.571685   0.086916   40.258102
文莱      ali       4.0    0.834195    0.105440   0.697890    0.844477
        gcp       4.0   29.020603   13.199327  18.860969   24.400431
新加坡     ali      15.0   17.516709   38.805215   1.603188    2.274404
        gcp      15.0  265.345294  142.675147  38.015971  321.853762
柬埔寨     ali      25.0    0.647342    0.259440   0.302317    0.554720
        gcp      26.0   19.888025    8.923685   0.886139   18.431418
泰国      ali      76.0    0.796675    0.312625   0.050204    0.709298
        gcp      76.0   32.415333    8.843893   0.035782   32.730525
缅甸      ali      22.0    2.306978    3.766717   0.035484    1.231091
        gcp      25.0   20.853304    6.446374   0.368663   22.826491
老挝      ali      11.0    2.258868    1.886670   0.690000    1.158299
        gcp      11.0   16.936333    7.863087   0.737776   13.460420
菲律宾     ali      71.0    1.053409    1.454262   0.068054    0.723690
        gcp      69.0   16.891732    9.381096   0.021268   16.818130
越南      ali      89.0    0.629169    0.167668   0.345338    0.607838
        gcp      95.0   24.440102    7.465253   0.246124   24.051634
马来西亚    ali      53.0    1.017095    0.329327   0.344236    0.990628
        gcp      50.0   81.764663   26.837707  26.102474   88.553452

                       90%         max
country vendor
印尼      ali       1.201212    2.987557
        gcp      71.997349   80.495911
文莱      ali       0.925543    0.949934
        gcp      41.348260   48.420581
新加坡     ali      51.180541  141.833215
        gcp     409.176741  452.818811
柬埔寨     ali       1.000200    1.210271
        gcp      33.482950   38.479444
泰国      ali       1.226540    2.160482
        gcp      40.326686   56.516553
缅甸      ali       3.204187   17.720122
        gcp      25.721352   27.846695
老挝      ali       4.647037    5.975187
        gcp      26.741264   27.123422
菲律宾     ali       1.234798    8.041586
        gcp      26.523626   36.016690
越南      ali       0.835302    1.133872
        gcp      32.973499   49.130576
马来西亚    ali       1.455760    2.039047
        gcp     109.645598  126.933725

In [12]:
df_tmp = df[df.country_code.isin(['ID','TH','VN','MY','PH','SG','MM','KH','LA','BN'])].groupby(['country', 'vendor']).throughput.describe(percentiles=[.5, .9])
# uncomment below to save to worksheet
# worksheet = sh.add_worksheet(title="sg_to_sea_throughput_by_country", rows=100, cols=20)
# set_with_dataframe(worksheet, df_tmp, include_index=True)

In [13]:
df_tmp = df[df.country_code.isin(['ID','TH','VN','MY','PH','SG','MM','KH','LA','BN'])].groupby(['vendor']).ping_avg_latency_ms.describe(percentiles=[.5, .9])
# uncomment below to save to worksheet
# worksheet = sh.add_worksheet(title="sg_to_sea_ping", rows=100, cols=20)
# set_with_dataframe(worksheet, df_tmp, include_index=True)

In [14]:
df[df.country_code.isin(['ID','TH','VN','MY','PH','SG','MM','KH','LA','BN'])].groupby(['vendor']).throughput.describe(percentiles=[.5, .9])

,count,mean,std,min,50%,90%,max
vendor,,,,,,,
ali,445.0,1.481494,7.602866,0.035484,0.733458,1.464935,141.833215
gcp,453.0,41.702242,54.068466,0.021268,28.535385,79.669536,452.818811

In [15]:
df_tmp = df[df.country_code.isin(['ID','TH','VN','MY','PH','SG','MM','KH','LA','BN'])].groupby(['vendor']).throughput.describe(percentiles=[.5, .9])
# uncomment below to save to worksheet
worksheet = sh.add_worksheet(title="sg_to_sea_throughput", rows=100, cols=20)
set_with_dataframe(worksheet, df_tmp, include_index=True)

JP to NA

In [16]:
df[df.country_code.isin(['HK','TW','KR','JP','MO'])].groupby(['country', 'vendor']).ping_avg_latency_ms.describe(percentiles=[.5, .9])

                count       mean        std     min      50%      90%      max
country vendor
台湾      ali      70.0  39.600214  21.251751  32.263  35.2610  39.9633  160.671
        gcp      70.0  40.374300   2.507264  36.437  40.0415  44.5445   46.368
日本      ali      78.0  11.259115  15.187156   1.490   9.4755  17.6393  129.226
        gcp      80.0  11.837200  14.718320   1.533   9.3360  21.1813  125.329
澳门      ali       3.0  57.404333   1.232857  56.442  56.9770  58.4306   58.794
        gcp       3.0  54.768667   1.856212  52.650  55.5470  55.9966   56.109
韩国      ali      79.0  39.874772  15.345000  28.090  38.1930  43.2070  170.940
        gcp      81.0  35.385938   4.489700  30.643  33.9750  39.1460   58.030
香港      ali      32.0  51.787000   1.859690  49.010  51.5035  54.2314   55.313
        gcp      32.0  50.215094   0.504662  49.161  50.1565  50.8722   51.209

In [17]:
df_tmp = df[df.country_code.isin(['HK','TW','KR','JP','MO'])].groupby(['country', 'vendor']).ping_avg_latency_ms.describe(percentiles=[.5, .9])
# uncomment below to save to worksheet
# worksheet = sh.add_worksheet(title="jp_to_na_ping_by_country", rows=100, cols=20)
# set_with_dataframe(worksheet, df_tmp, include_index=True)

In [18]:
df[df.country_code.isin(['HK','TW','KR','JP','MO'])].groupby(['country', 'vendor']).throughput.describe(percentiles=[.5, .9])

                count        mean        std        min         50%  \
country vendor
台湾      ali      70.0    0.684551   0.165684   0.192430    0.663884
        gcp      70.0   24.750369   5.826102   0.220475   26.213728
日本      ali      78.0    0.671906   0.331082   0.118614    0.598638
        gcp      80.0  117.731045  96.346735   0.088440  103.138094
澳门      ali       3.0    0.980428   0.055185   0.941645    0.956031
        gcp       3.0   19.447860   0.407214  18.990492   19.582023
韩国      ali      79.0    9.071953  13.289728   0.363734    0.946567
        gcp      81.0   26.129435   9.292256   0.491531   30.003043
香港      ali      32.0    0.525428   0.107002   0.235909    0.518548
        gcp      32.0   19.060610   5.465947   0.242060   21.025343

                       90%         max
country vendor
台湾      ali       0.862653    1.122808
        gcp      28.433321   29.338545
日本      ali       1.106977    2.197105
        gcp     254.591155  411.230553
澳门      ali       1.026092    1.043607
        gcp      19.733257   19.771065
韩国      ali      32.081586   42.813745
        gcp      32.999675   35.067974
香港      ali       0.658330    0.700762
        gcp      21.482267   21.754616

In [19]:
df_tmp = df[df.country_code.isin(['HK','TW','KR','JP','MO'])].groupby(['country', 'vendor']).throughput.describe(percentiles=[.5, .9])
# uncomment below to save to worksheet
# worksheet = sh.add_worksheet(title="jp_to_na_throughput_by_country", rows=100, cols=20)
# set_with_dataframe(worksheet, df_tmp, include_index=True)

In [20]:
df[df.country_code.isin(['HK','TW','KR','JP','MO'])].groupby(['vendor']).ping_avg_latency_ms.describe(percentiles=[.5, .9])

        count       mean        std    min      50%      90%      max
vendor
ali     262.0  32.937901  21.808207  1.490  35.5350  51.4737  170.940
gcp     266.0  31.618898  16.214300  1.533  35.4725  49.9455  125.329

In [21]:
df_tmp = df[df.country_code.isin(['HK','TW','KR','JP','MO'])].groupby(['vendor']).ping_avg_latency_ms.describe(percentiles=[.5, .9])
# uncomment below to save to worksheet
# worksheet = sh.add_worksheet(title="jp_to_na_ping", rows=100, cols=20)
# set_with_dataframe(worksheet, df_tmp, include_index=True)

In [22]:
df[df.country_code.isin(['HK','TW','KR','JP','MO'])].groupby(['vendor']).throughput.describe(percentiles=[.5, .9])

,count,mean,std,min,50%,90%,max
vendor,,,,,,,
ali,262.0,3.193765,8.234084,0.118614,0.664967,2.853058,42.813745
gcp,266.0,52.390138,68.217283,0.088440,28.442892,112.282826,411.230553

In [23]:
df_tmp = df[df.country_code.isin(['HK','TW','KR','JP','MO'])].groupby(['vendor']).throughput.describe(percentiles=[.5, .9])
# uncomment below to save to worksheet
# worksheet = sh.add_worksheet(title="jp_to_na_throughput", rows=100, cols=20)
# set_with_dataframe(worksheet, df_tmp, include_index=True)

Frankfurt to EU

In [24]:
df[df.country_code.isin(['GE','GB','FR','IT','RU','ES','NL','CH','PL','SE'])].groupby(['country', 'vendor', 'region']).ping_avg_latency_ms.describe(percentiles=[.5, .9])

                           count       mean        std     min      50%  \
country vendor region
俄罗斯     ali    frankfurt    94.0  66.651340  32.475062  20.523  57.6390
        gcp    frankfurt    90.0  69.576311  25.050420  37.059  63.5440
               netherland   94.0  69.956202  30.468049  33.142  61.8100
德国      ali    frankfurt    19.0  65.238316   7.884044  52.370  66.3700
        gcp    frankfurt    20.0  63.709800   8.783801  49.384  64.4255
               netherland   20.0  70.646400   8.367160  55.567  74.2935
意大利     ali    frankfurt    69.0  22.710058  14.999077  10.093  21.4170
        gcp    frankfurt    63.0  19.109508   7.866651   9.821  18.1930
               netherland   64.0  25.428500   8.430888  16.039  24.2115
法国      ali    frankfurt    51.0  16.559961   4.028066  10.631  16.8510
        gcp    frankfurt    53.0  15.463547   4.248180   8.058  16.1640
               netherland   49.0  16.979939   4.164398  11.319  17.4010
波兰      ali    frankfurt    62.0  24.814194  10.184925  15.587  22.9525
        gcp    frankfurt    64.0  19.859516   3.890895  14.690  20.0170
               netherland   67.0  26.805179   9.443246  21.253  26.2010
瑞典      ali    frankfurt    35.0  25.280829   4.863994  14.672  24.7310
        gcp    frankfurt    33.0  31.123697   4.131702  24.886  30.4000
               netherland   33.0  26.700697   3.559823  22.473  25.3980
瑞士      ali    frankfurt    33.0  11.469242   4.696570   7.017   9.2920
        gcp    frankfurt    39.0   9.624821   3.296912   5.742   8.8970
               netherland   36.0  15.785472   2.621681  12.498  14.9420
英国      ali    frankfurt    77.0  21.093922   4.627569  12.717  20.8700
        gcp    frankfurt    78.0  17.248436   3.702367  12.499  17.1630
               netherland   71.0  14.282915   3.656960   9.329  13.8910
荷兰      ali    frankfurt    12.0   9.028000   1.139185   6.996   9.2285
        gcp    frankfurt    11.0   8.977909   1.494449   6.940   8.4150
               netherland   12.0   5.581250   1.354113   3.941   5.2785
西班牙     ali    frankfurt    68.0  39.398912  17.280487  25.588  37.2385
        gcp    frankfurt    59.0  36.185729  19.028543  24.723  32.8600
               netherland   67.0  38.163239  18.167715  25.915  35.9980

                                90%      max
country vendor region
俄罗斯     ali    frankfurt   113.9697  173.107
        gcp    frankfurt   100.1505  161.639
               netherland  109.8160  168.144
德国      ali    frankfurt    72.7648   76.976
        gcp    frankfurt    75.0484   78.276
               netherland   78.7984   79.846
意大利     ali    frankfurt    30.5586  128.488
        gcp    frankfurt    30.3704   40.467
               netherland   35.7201   50.455
法国      ali    frankfurt    21.2800   25.466
        gcp    frankfurt    20.9858   24.413
               netherland   22.6782   24.236
波兰      ali    frankfurt    28.3647   96.197
        gcp    frankfurt    24.7170   31.224
               netherland   29.9704   98.016
瑞典      ali    frankfurt    31.4754   34.278
        gcp    frankfurt    36.1214   39.195
               netherland   31.5916   32.042
瑞士      ali    frankfurt    17.6560   23.287
        gcp    frankfurt    13.2220   20.843
               netherland   19.9105   21.995
英国      ali    frankfurt    27.8510   33.682
        gcp    frankfurt    22.7582   28.986
               netherland   19.8370   27.067
荷兰      ali    frankfurt    10.1298   11.191
        gcp    frankfurt    10.6340   12.068
               netherland    7.4710    7.987
西班牙     ali    frankfurt    45.3448  168.336
        gcp    frankfurt    42.7022  171.772
               netherland   44.1110  175.976

In [25]:
df_tmp = df[df.country_code.isin(['GE','GB','FR','IT','RU','ES','NL','CH','PL','SE'])].groupby(['country', 'vendor', 'region']).ping_avg_latency_ms.describe(percentiles=[.5, .9])
# worksheet = sh.add_worksheet(title="frk_to_eu_ping_by_country", rows=100, cols=20)
# set_with_dataframe(worksheet, df_tmp, include_index=True)

In [26]:
df[df.country_code.isin(['GE','GB','FR','IT','RU','ES','NL','CH','PL','SE'])].groupby(['country', 'vendor', 'region']).throughput.describe(percentiles=[.5, .9])

                           count        mean        std        min  \
country vendor region
俄罗斯     ali    frankfurt    94.0    1.275939   1.867153   0.034584
        gcp    frankfurt    90.0   16.188388   5.770850   0.131577
               netherland   94.0   15.865159   6.719988   0.138544
德国      ali    frankfurt    19.0    0.804361   1.466605   0.247445
        gcp    frankfurt    20.0   16.376252   3.584930   7.980959
               netherland   20.0   15.004115   2.450759  10.628507
意大利     ali    frankfurt    69.0    0.970462   0.494173   0.305273
        gcp    frankfurt    63.0   59.523493  27.026737   0.380702
               netherland   64.0   45.687343  12.771320  22.727531
法国      ali    frankfurt    51.0    0.817504   0.292655   0.402213
        gcp    frankfurt    53.0   70.282206  22.373658   3.136908
               netherland   49.0   60.665978  18.400463   2.385375
波兰      ali    frankfurt    62.0    0.941124   0.395185   0.364640
        gcp    frankfurt    64.0   44.687228  19.170486   0.220255
               netherland   67.0   36.759437  11.785306   3.388474
瑞典      ali    frankfurt    35.0    0.781464   0.243951   0.453092
        gcp    frankfurt    33.0   34.419543   4.367126  27.489484
               netherland   33.0   39.302914   5.059645  32.303432
瑞士      ali    frankfurt    33.0    1.091152   0.800933   0.389749
        gcp    frankfurt    39.0  108.852186  34.053504  37.365921
               netherland   36.0   63.949908  11.892486  21.805984
英国      ali    frankfurt    77.0    2.141405   3.620722   0.407001
        gcp    frankfurt    78.0   61.436913  14.212687   0.051445
               netherland   71.0   72.254249  20.309651   9.399511
荷兰      ali    frankfurt    12.0    1.405237   0.446704   1.005389
        gcp    frankfurt    11.0  115.296278  21.872120  72.903696
               netherland   12.0  117.213811  51.893879  38.041829
西班牙     ali    frankfurt    68.0    0.774505   0.336835   0.101950
        gcp    frankfurt    59.0   31.207450   6.807584   6.547104
               netherland   67.0   28.840800   5.728325   5.938336

                                  50%         90%         max
country vendor region
俄罗斯     ali    frankfurt     0.600229    3.234379   10.938566
        gcp    frankfurt    16.403549   23.861545   28.873810
               netherland   16.556145   25.832215   31.741006
德国      ali    frankfurt     0.338471    1.023218    6.334741
        gcp    frankfurt    16.151450   21.360251   21.608427
               netherland   14.700612   18.865998   19.075605
意大利     ali    frankfurt     0.832125    1.575528    3.039828
        gcp    frankfurt    54.813413  103.207139  107.379880
               netherland   46.507843   64.023343   65.573384
法国      ali    frankfurt     0.812300    1.149558    1.940381
        gcp    frankfurt    63.469218   96.419032  129.784359
               netherland   58.524875   86.211457   87.796114
波兰      ali    frankfurt     0.814027    1.452757    2.805179
        gcp    frankfurt    50.080960   67.342622   70.770678
               netherland   39.023962   48.766596   49.626834
瑞典      ali    frankfurt     0.733753    1.029462    1.531516
        gcp    frankfurt    34.739202   39.091658   43.496660
               netherland   38.370883   45.871098   47.460718
瑞士      ali    frankfurt     0.894446    1.795173    4.792880
        gcp    frankfurt   104.358457  150.209238  170.224065
               netherland   64.704346   77.645653   82.255720
英国      ali    frankfurt     1.000779    5.231818   24.603212
        gcp    frankfurt    60.822570   78.191054   81.878692
               netherland   70.928795   98.541480  102.549538
荷兰      ali    frankfurt     1.294133    1.668738    2.653984
        gcp    frankfurt   120.612047  143.026458  146.499878
               netherland  119.537533  178.457923  200.091181
西班牙     ali    frankfurt     0.735469    1.182216    1.674254
        gcp    frankfurt    30.450052   41.226748   42.716560
               netherland   28.771360   36.148689   39.518368

In [27]:
df_tmp = df[df.country_code.isin(['GE','GB','FR','IT','RU','ES','NL','CH','PL','SE'])].groupby(['country', 'vendor', 'region']).throughput.describe(percentiles=[.5, .9])
# worksheet = sh.add_worksheet(title="frk_to_eu_throughput_by_country", rows=100, cols=20)
# set_with_dataframe(worksheet, df_tmp, include_index=True)

In [28]:
df[df.country_code.isin(['GE','GB','FR','IT','RU','ES','NL','CH','PL','SE'])].groupby(['vendor', 'region']).ping_avg_latency_ms.describe(percentiles=[.5, .9])

                   count       mean        std    min     50%      90%  \
vendor region
ali    frankfurt   520.0  32.941912  25.376197  6.996  24.560  62.8727
gcp    frankfurt   510.0  31.004084  24.700471  5.742  21.818  65.4213
       netherland  513.0  33.784791  25.963087  3.941  26.053  68.4378

                       max
vendor region
ali    frankfurt   173.107
gcp    frankfurt   171.772
       netherland  175.976

In [29]:
df_tmp = df[df.country_code.isin(['GE','GB','FR','IT','RU','ES','NL','CH','PL','SE'])].groupby(['vendor', 'region']).ping_avg_latency_ms.describe(percentiles=[.5, .9])
# worksheet = sh.add_worksheet(title="frk_to_eu_ping", rows=100, cols=20)
# set_with_dataframe(worksheet, df_tmp, include_index=True)

In [30]:
df[df.country_code.isin(['GE','GB','FR','IT','RU','ES','NL','CH','PL','SE'])].groupby(['vendor', 'region']).throughput.describe(percentiles=[.5, .9])

                   count       mean        std       min        50%  \
vendor region
ali    frankfurt   520.0   1.153850   1.715437  0.034584   0.778427
gcp    frankfurt   510.0  49.807956  32.608165  0.051445  43.329522
       netherland  513.0  43.312000  26.743123  0.138544  38.832392

                         90%         max
vendor region
ali    frankfurt    1.661505   24.603212
gcp    frankfurt   96.332874  170.224065
       netherland  77.818255  200.091181

In [31]:
df_tmp = df[df.country_code.isin(['GE','GB','FR','IT','RU','ES','NL','CH','PL','SE'])].groupby(['vendor', 'region']).throughput.describe(percentiles=[.5, .9])
# worksheet = sh.add_worksheet(title="frk_to_eu_throughput", rows=100, cols=20)
# set_with_dataframe(worksheet, df_tmp, include_index=True)